/*.thumbnails{
    width: 300px; // or you could use percentage value for responsive layout
    height: 500px;
    overflow: auto;
}
*/

.header {
    background-image: url('../Images/books.jpeg');
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    height: 40rem;
    text-align: center;
    margin: 1em auto 0em;
    padding: 5em auto 1em;
    color: white;

}

.row {
    max-height: 300px;
}